$label-color :grey;
$background-color:rgb(35, 35, 37);
$primary-text-color:white;
$default-paddng:1rem;
$card-background-color:black;
$icon-color:cyan;
$icon-background-color:rgb(35, 35, 35);
$default-border-radius:1rem;

// light version
$light-background-color:white;   
$light-primary-text-color:black;
$light-card-background-color:whitesmoke;
$light-label-color :grey;
$light-icon-color:cyan;
$light-icon-background-color:rgb(172, 172, 172);

@font-face {
    font-family: montserrat;
    src: url(../font/montserrat.ttf);
}
@font-face {
    font-family: bebas;
    src: url(../font/bebas.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'bebas';
    scrollbar-width: 0px;
    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }
    ::-moz-scrollbar{
        width: 0px;
        height: 0px;
    }
    ::-ms-scrollbar{
        width: 0px;
        height: 0px;
    }
}