
$label-color :grey;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    background-color: black;
}

#analyticsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 35, 37);
    color: white;
    gap: 0.5rem;
    padding: 1rem;
    #FirstLevelDataContainer{
        width: 100%;
        display: flex;
        gap: 5%;
        overflow-x:scroll ;
        flex-wrap: nowrap;
        padding: 1rem;
        padding-left: 0;
        #SingleFirstLevelDataContainer{
            padding: 1rem;
            border-radius: 0.5rem ;
            background-color: rgb(23, 20, 20);
            display: flex;
            align-items: center;
            .icon{
                color: rgb(6, 238, 6);
                background-color: rgb(35, 35, 35);
                width: 1.5rem;
                height: 1.5rem;
                padding:0.4rem;
                border-radius: 0.2rem;;
            }
            .details{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding-left: 1rem;
                .label{
                    font-size: xx-small;
                    color: $label-color;
                }
                .amount{
                    font-size: x-large;
                }
            }
        }
    }
    #overviewAndExpectationsDiv{
        width: 100%;
        // height: 25%;
        // padding-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;
        // justify-content: space-around;
        #overViewComponentDiv{
            width: 100%;
            height: 25%;
            padding: 1rem;
            padding-right: 1rem;
            border-radius: 1rem;
            background-color: rgb(23, 20, 20);
        }
        #expectationsDiv{
            width: 100%;
            // height: 25%;
            padding: 1rem;
            display: flex;
            border-radius: 1rem;
            background-color: rgb(23, 20, 20);
            align-items: center;
            justify-content:center;
            .subExpectation{
                width: 45%;
                height:98%;
            }
        }
    }
    #dayTransactionsAndIncome{
        width: 100%;
        display: flex;
        // padding: 2rem;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        #dayChartsAndTransactionsDiv{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            #DayTransactionChartDiv{
                width: 100%;
                border: 1rem;
                background-color: black;
                padding: 2rem;
                border-radius: 1rem;
            }
            #transactionsDiv{
                width: 100%;
                border-radius: 1rem;
                background-color: black;
                padding: 2rem;
                min-height: 40vh;
                #transactionExpenses,#transactionIncome{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem 0;
                    #textData{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
                
            }
        }
        #incomeUsage{
            width: 100%;
            display:flex ;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 1rem;
            padding: 2rem;
            background-color: black;
            align-self: stretch;
            p{
                position: absolute;
                font-size: 3rem;
            }
        }
    }
    #unexpectedTrends{
        width: 100%;
        padding: 0.5rem;
        padding-right: 1rem;
        padding-top: 1rem;
        border-radius: 1rem;
        background-color: black;
    }
}

@media (orientation:"landscape"){
    #analyticsContainer{
        gap: 0;
        #FirstLevelDataContainer{
            width: 100%;
            padding: 1.5rem;
            padding-left: 1.5rem;
            justify-content: space-around;
            overflow-x: hidden;
            #SingleFirstLevelDataContainer{
                width: 18%;
                padding: 1rem;
                border-radius: 0.5rem ;
                background-color: rgb(23, 20, 20);
                display: flex;
                align-items: center;
                .icon{
                    color: rgb(6, 238, 6);
                    background-color: rgb(35, 35, 35);
                    width: fit-content;
                    height: fit-content;
                    padding:0.2rem;
                    border-radius: 0.2rem;;
                }
                .details{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding-left: 1rem;
                    .label{
                        font-size: x-small;
                        color: $label-color;
                    }
                    .amount{
                        font-size: xx-large;
                    }
                }
            }
        }
        #overviewAndExpectationsDiv{
            width: 100%;
            height: 25%;
            padding-left: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            gap: 0;
            flex-direction: row;
            #overViewComponentDiv{
                width: 60%;
                height: 25%;
                padding: 2rem;
                padding-right: 2rem;
                border-radius: 1rem;
                background-color: rgb(23, 20, 20);
            }
            #expectationsDiv{
                width: 33%;
                height: 25%;
                padding-right: 2rem;
                display: flex;
                border-radius: 1rem;
                background-color: rgb(23, 20, 20);
                align-items: center;
                justify-content:center;
                .subExpectation{
                    width: 45%;
                    height:98%;
                }
            }
        }
        #dayTransactionsAndIncome{
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 2rem;
            justify-content: space-around;
            align-items: center;
            gap: 0;
            #dayChartsAndTransactionsDiv{
                width: 60%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 0;
                #DayTransactionChartDiv{
                    width: 45%;
                    border: 1rem;
                    background-color: black;
                    padding: 2rem;
                    border-radius: 1rem;
                }
                #transactionsDiv{
                    width: 45%;
                    border-radius: 1rem;
                    background-color: black;
                    padding: 2rem;
                    #transactionExpenses,#transactionIncome{
                        display: flex;
                        flex-direction: column;
                        padding: 1rem 0;
                        #textData{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    
                }
            }
            #incomeUsage{
                width: 33%;
                display:flex ;
                align-items: center;
                justify-content: center;
                position: relative;
                border-radius: 1rem;
                padding: 2rem;
                background-color: black;
                align-self: stretch;
                p{
                    position: absolute;
                    font-size: 3rem;
                }
            }
        }
        #unexpectedTrends{
            width: 90%;
            padding: 2rem;
            border-radius: 1rem;
            background-color: black;
            align-self: center;
        }
    }
}